<div class="generator__content">
    <a style="text-decoration:none" asp-controller="Generator" asp-action="TobaccoGeneratorResult">
        <div class="random__tobacco">
            <p class="nav__link">Сгенерировать табак</p>
        </div>
    </a>

    <a style="text-decoration:none " asp-controller="Generator" asp-action="MixGeneratorResult">
        <div class="random__tobacco">
            <p class="nav__link">Сгенерировать микс</p>
        </div>
    </a>
</div>

@section Css {
    <link rel="stylesheet" href="~/css/generator.css" />
}