<div class="generator__content">
    <div class="random__tobacco">
        <a class="nav__link" asp-controller="Generator" asp-action="GeneratorResult">Сгенерировать табак</a>
    </div>
</div>
@section Css {
    <link rel="stylesheet" href="~/css/generator.css" />
}