<div class="generator__content">
    <a style="text-decoration:none" asp-controller="Generator" asp-action="GeneratorResult">
        <div class="random__tobacco">
            <p class="nav__link">Сгенерировать табак</p>
        </div>
    </a>
</div>
@section Css {
    <link rel="stylesheet" href="~/css/generator.css" />
}