@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="main__conteiner">
        <div class="main__text">
            <h1>H1111</h1>
            <p>
                asture he invited mr company shyness. But when shot real her. Chamber her observe visited removal six sending himself boy. At exquisite existence if an oh dependent excellent. Are gay head need down draw. Misery wonder enable mutual get
                set oppose the uneasy. End why melancholy estimating her had indulgence middletons.
            </p>
        </div>
    </div>
</div>

<div class="additional">
    <div class="additional__container">
        <div class="additional__text">
            <h1>H1111</h1>
            <p>
                asture he invited mr company shyness. But when shot real her. Chamber her observe visited removal six sending himself boy. At exquisite existence if an oh dependent excellent. Are gay head need down draw. Misery wonder enable mutual get
                set oppose the uneasy. End why melancholy estimating her had indulgence middletons.
            </p>
        </div>
    </div>
</div>
