*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: antiquewhite;
    background: url("../img/Intro.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */

.container {
    max-width: 1920px;
    width: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
/*    margin-bottom: 250px;*/
    background-color: rgba(0, 0, 0, 0.795);
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: antiquewhite;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* Navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: antiquewhite;
    transition: color .1s linear;
    text-decoration: none;
}

    .nav__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: brown;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity .1s linear;
    }

    .nav__link:hover {
        color: brown;
        text-decoration: none;
    }

        .nav__link:hover:after {
            opacity: 1;
        }

.exit__button {
    
}
/* Footer */
.footer {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
