@model LoginViewModel
@ViewData["Title"]
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Вход</h3>
                <!--
    <div class="d-flex justify-content-end social_icon">
        <span><i class="fab fa-facebook-square"></i></span>
        <span><i class="fab fa-google-plus-square"></i></span>
        <span><i class="fab fa-twitter-square"></i></span>
    </div>
        -->
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Имя пользователя">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
                    </div>
                    <div class="row align-items-center remember">
                        <input asp-for="RememberMe" type="checkbox">Запомнить меня
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Css{ 
<link rel="stylesheet" href="~/css/login.css" />
}

