@model RegisterViewModel
<h2>New user registration</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="FirstName"></label><br />
        <input type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="SecondName"></label><br />
        <input type="text" asp-for="SecondName" />
        <span asp-validation-for="SecondName"></span>
    </div>
    <div>
        <label asp-for="MiddleName"></label><br />
        <input type="text" asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div>
        <label asp-for="BirthDate"></label><br />
        <input type="date" asp-for="BirthDate" />
        <span asp-validation-for="BirthDate"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>