<div class="container">
    <div class="about">
        <div class="about__title">
            Viktor Denisov
        </div>
        <div class="about__content">
            <div class="about__image">
                <img class="profile__image" src="~/img/photo.jpg" alt="profile photo">
            </div>
            <div class="about__text">
                Young developer from Belarus. Always ready for some action !!
            </div>
        </div>
    </div>
</div>

@section Css{ 
    <link rel="stylesheet" href="~/css/about.css">
}
