<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/about.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

<div class="container">
    <div class="about">
        <div class="about__title">
            Ut laboris sit exercitation excepteur officia nulla mollit aute eiusmod.
        </div>
        <div class="about__content">
            <div class="about__image">
                <img class="profile__image" src="~/img/photo.jpg" alt="profile photo">
            </div>
            <div class="about__text">
                Laboris tempor dolore ullamco et duis non amet mollit minim ea culpa. Velit quis esse proident sint commodo duis minim enim ut do fugiat aliqua magna magna. Officia consectetur irure nisi anim consectetur ex sint aute commodo voluptate ipsum. Deserunt
                irure cupidatat ut sunt ex aliquip anim laborum. Cillum id deserunt laboris culpa velit aliqua. Et elit quis tempor tempor qui ullamco deserunt deserunt sit magna minim labore ad. Nulla pariatur qui incididunt deserunt est sit quis
                proident nostrud Lorem. Culpa consectetur veniam ullamco est labore mollit id enim eu non. Consectetur consectetur laboris ad adipisicing sint aute. Id labore proident cupidatat laboris tempor aliqua commodo magna esse officia occaecat
                Lorem commodo exercitation. Voluptate culpa reprehenderit est adipisicing eu irure velit nulla do id cupidatat amet sunt. Excepteur ad nulla ullamco aliqua.
            </div>
        </div>
    </div>
</div>


